
<link rel="stylesheet" href="/componentsFiles/navbar.css">

<div >
    <nav id="navBar" >
        <div id="navBarButton"><img id="buttonIcon" src="/General_Icons/bars-solid.svg" alt=""></div>
        <div id="navElementWrapper" class="non-active" style="background: <%= style %>">
            <div id="menuTitle">Pick one of the animations</div>
            <a href="/animations/Circle_Spawn_Animation" class="navElement" style="background: <%= style %>">Circle spawn animation</a>
            <a href="/animations/Connecting_Dots_Animation" class="navElement" style="background: <%= style %>">Connecting dots animation</a>
            <a href="/animations/Hand_writing_sheet" class="navElement" style="background: <%= style %>">Hand writing sheet</a>
            <a href="/animations/Lots_of_Circles" class="navElement" style="background: <%= style %>">Lots of circles animation</a>
            <a href="/animations/Snow_Animation" class="navElement" style="background: <%= style %>">Snow animation</a>
        </div>
    </nav>
</div>
<script src="/componentsFiles/navbar.js"></script>