<link rel="stylesheet" href="/componentsFiles/navbar.css">
<nav id="navBar">
    <div id="navBarButton"><img id="buttonIcon" src="/General_Icons/bars-solid.svg" alt=""></div>
    <div id="navElementWrapper" class="non-active" style="background: <%= style %>">
        <div id="menuTitle">Pick one of the animations</div>
        <a href="/games/Game_of_life" class="navElement" style="background: <%= style %>">Game of Life</a>
        <a href="/games/RPS_game" class="navElement" style="background: <%= style %>">Rock Paper Scisor</a>
        <a href="/games/Snake_game" class="navElement" style="background: <%= style %>">Snake Game</a>
        <a href="/games/Tic_Tac_Toe_game" class="navElement" style="background: <%= style %>">Tick Tack Toe Game</a>
    </div>
</nav>
<script src="/componentsFiles/navbar.js"></script>

